

{% load static %}
<header class="navbar-wrapper">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="{% url 'home' %}">
        <img src="{% static 'img/small_logo.png' %}" alt="KrishiPath" class="logo-img">
      </a>
    </div>

    <!-- Toggler button for mobile -->
    <button class="navbar-toggler" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="navbar-collapse">
      {% if user.is_authenticated %}
      <ul class="nav-links"> 
        <li><a href="{% url 'home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
        <li><a href="{% url 'bot' %}" class="nav-link {% if request.resolver_match.url_name == 'bot' %}active{% endif %}">Chatbot</a></li>
        <li><a href="{% url 'soil_report' %}" class="nav-link {% if request.resolver_match.url_name == 'soil_report' %}active{% endif %}">Crop Advisory</a></li>
        <li><a href="{% url 'weather_current' %}" class="nav-link {% if request.resolver_match.url_name == 'weather_current' %}active{% endif %}">Weather Forecast</a></li>
      </ul>
      {% endif %}

      <div class="auth-buttons">
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-login">Log out</button>
        </form>
        {% else %}
        <a href="{% url 'signin' %}" class="btn btn-login">Log In</a>
        <a href="{% url 'register' %}" class="btn btn-register">Register</a>  
        {% endif%}
      </div>
    </div>
  </nav>
</header>